<div class="row">
	<div class="col-md-offset-2 col-md-8">
	    <div class="pull-right">
	       <a href="{{ path('fos_user_profile_edit') }}" ><strong class="btn btn-warning">edit</strong></a>
	    </div>
		<div class="fos_user_user_show">
			<p class="lead">
			     <strong>{{ 'Username'|trans({}, 'FOSUserBundle') }}: </strong><br />
			     {{ user.username }}
			</p>
			<p class="lead">
			     <strong>{{ 'Email'|trans({}, 'FOSUserBundle') }}: </strong><br />
			     {{ user.email }}</p>
		</div>
	</div>
</div>