{% extends '::base.html.twig' %}
{% block body %}
	{% block stylesheets %}
	    <link href="{{ asset('css/common.css') }}" rel="stylesheet" />
	{% endblock %}
	<!-- Navbar -->
	{{ render_hinclude(controller('FundamentalCommonBundle:CommonView:nav')) }}
	
{% stylesheets '@ContentArticleBundle/Resources/public/css/prism.css'
               '@ContentArticleBundle/Resources/public/css/article.css'
%}
    <link href="{{ asset_url  }}" rel="stylesheet" />
{% endstylesheets %}
{% javascripts '@ContentArticleBundle/Resources/public/js/prism.js' %}
    <script src="{{ asset_url  }}"></script>
{% endjavascripts %}
	<div class="text-center page-content">
	   <h2>{{ article.title|raw }}</h2>
	</div>
    <div class="row">
    	<div class="col-md-offset-1 col-md-8">
    	   {% for tag in article.tags|split(' ') %}
	    	  <a href="" class="bg-success">{{ tag }}</a>
	       {% endfor %}
    	</div>
    	<div class="col-md-3">
    		<p class="text-warning">Updated By: {{ article.author }}</p>
            <p class="text-muted">{{ article.updateDateTime|date("Y/m/d H:i:s") }}</p>
    	</div>   
    </div>
    <article class="article-content lead">{{ article.content|raw }}</article>
{% endblock %}