{% extends '::base.html.twig' %}
{% block body %}
	{% block stylesheets %}
	    <link href="{{ asset('css/common.css') }}" rel="stylesheet" />
	{% endblock %}
	<!-- Navbar -->
	{{ render_hinclude(controller('FundamentalCommonBundle:CommonView:nav')) }}
	
{% stylesheets '@ContentArticleBundle/Resources/public/css/prism.css'
               '@ContentArticleBundle/Resources/public/css/article.css'
                filter="uglifycss" 
%}
    <link href="{{ asset_url  }}" rel="stylesheet" />
{% endstylesheets %}
{% javascripts '@ContentArticleBundle/Resources/public/js/prism.js'  filter="uglifyjs2" %}
    <script src="{{ asset_url  }}"></script>
{% endjavascripts %}
    <script type="text/javascript">
    function deleteArticle()
    {
        $.post("{{ path('content_articles_delete') }}",
                { articleId:"{{ article.articleId }}" },
                function(data,status){
                    window.location.href = "{{ path('content_articles_search', {'keywords': ''}) }}";
                }
        );
    }
    </script>
	<div class="text-center page-content">
	   <h2>{{ article.title|raw }}</h2>
	</div>
    <div class="row article-header">
    	<div class="col-md-9">
    	   {% for tag in article.tags|split(' ') %}
	    	  <a href="{{ path('content_articles_tag', {'tag': tag}) }}" ><strong class="alert alert-success">{{ tag }}</strong></a>
	       {% endfor %}
    	</div>
    	<div class="col-md-3">
    	    <div class="col-md-3">
		        <a href="{{ path('content_articles_edit', {'articleId': article.articleId}) }}" ><span class="article-control glyphicon glyphicon-pencil"></span></a>
	            <a href="javascript:void(0)" onclick="deleteArticle();" ><span class="article-control glyphicon glyphicon-trash"></span></a>
    		</div>
    		<div class="col-md-9">
	    		<strong class="text-success">Updated By: {{ article.author }}</strong>
	            <strong class="text-muted">{{ article.updateDateTime|date("Y/m/d H:i:s") }}</strong>
            </div>
    	</div>   
    </div>
    <article class="article-content lead">{{ article.content|raw }}</article>
{% endblock %}