{% extends '::base.html.twig' %}
{% block body %}
	{% block stylesheets %}
	    <link href="{{ asset('css/common.css') }}" rel="stylesheet" />
	{% endblock %}
	<!-- Navbar -->
	{{ render_hinclude(controller('FundamentalCommonBundle:CommonView:nav')) }}
	
{% stylesheets '@ContentArticleBundle/Resources/public/css/prism.css'
               '@ContentArticleBundle/Resources/public/css/article.css'
%}
    <link href="{{ asset_url  }}" rel="stylesheet" />
{% endstylesheets %}
{% javascripts '@ContentArticleBundle/Resources/public/js/prism.js' %}
    <script src="{{ asset_url  }}"></script>
{% endjavascripts %}
	<div class="text-center page-content">
	   <h2>{{ article.title|raw }}</h2>
	</div>
    <div class="row article-header">
    	<div class="col-md-7">
    	   {% for tag in article.tags|split(' ') %}
	    	  <a href="{{ path('content_articles_tag', {'tag': tag}) }}" ><strong class="btn btn-success">{{ tag }}</strong></a>
	       {% endfor %}
    	</div>
    	<div class="col-md-5">
	        <a href="{{ path('content_articles_edit', {'id': article.articleId}) }}" ><strong class="btn btn-warning">Edit</strong></a>
    		<strong class="text-success">Updated By: {{ article.author }}</strong>
            <strong class="text-muted">{{ article.updateDateTime|date("Y/m/d H:i:s") }}</strong>
    	</div>   
    </div>
    <article class="article-content lead">{{ article.content|raw }}</article>
{% endblock %}